{% extends 'trial1/base.html' %}

{% block title %}
  Register
{% endblock %}

{% block content %}
<!-- html form tag takes info from users to be used -->
<body class="text-center">
    <!-- POST method to get the users information accesible in the views-->
    <form class="form-signin" method="POST">
        <br/>
        {% csrf_token %}
        {% load static %}
        <img class="mb-4" src="{% static 'trial1/eneru_logo.jpg' %}" alt="Image">
        <h1 class="h3 mb-3 font-weight-normal">
            Please Create your Account
        </h1>

        <!-- Form Fields -->
        <label for="inputUsername" class="sr-only">
            User Name
        </label>
        <input type="text" id="inputUsername" class="form-control" placeholder="User Name" name="username" required autofocus>
        <br>

        <label for="inputPassword1" class="sr-only">
            Password
        </label>
        <input type="password" id="inputPassword1" class="form-control" placeholder="Password" name="password1" required autofocus>
        <br>

        <label for="inputPassword2" class="sr-only">
            Password Confirmation
        </label>
        <input type="password" id="inputPassword2" class="form-control" placeholder="Confirm Password" name="password2" required autofocus>
        <br>
        <!-- In your template file, use a for loop to create the option elements -->
        <label for="category" class="sr-only">Choose a category:</label>
        <select id="category" name="category" class="form-control">
          {% for option in options %}
            <option value="{{ option.name }}">{{ option.name }}</option>
          {% endfor %}
        </select>
        <div class="checkbox mb-3">
            <h6>Already have an Account?</h6>
            <a class="btn btn-sm btn-secondary" href="{% url 'login' %}">Login</a>
        </div>
        <!-- type in the tag is important to send information-->
        <button class="btn btn-lg btn-primary btn-block" type="submit">Create Account</button>
    </form>
</body>

{% endblock %}